<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include("../partials/head"); %>
    <!-- FIN HEAD -->
    <body>
        <!-- HEADER -->
        <%- include ("../partials/header");%>
        <!-- FIN HEADER -->
        <section>
            <article class="anuncio">Espacio para el anuncio</article>
        </section>

        <section class="busqueda">
            <form action="/search" method="GET" >
                <input
                    type="text"
                    name="search"
                    id="barra-busq"
                    placeholder="Buscar..."
                />
                <button type="submit"><i class="fas fa-search icono-busq"></i></button>
            </form>
        </section>
        <section class="body-articulos">
            <% results.forEach(event => { %>
            <article class="caja-producto">
                <picture class="foto-producto">
                    <img
                        src="/img/products/<%= event.image %>"
                        alt="<%= event.title %>"
                        class=""
                    />
                </picture>

                <section class="descripcion-producto">
                    <section class="descripcion">
                        <p class="titulo-show"><%= event.title %></p>
                        <p class="lugar-show"><%= event.place %></p>
                    </section>
                </section>
                <a href="/products/<%= event.id %>/detail">
                    <button class="boton-comprar">
                        COMPRAR<i
                            class="ticket-botoncomprar fas fa-ticket-alt"
                        ></i>
                    </button>
                </a>
            </article>
            <% }) %>
        </section>

        <section class=""><br /><br /><br /><br /><br /></section>
        <!-- FOOTER -->
        <%- include ("../partials/footer"); %>
        <!-- FIN FOOTER -->
    </body>
</html>
